<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Iniciar Sesion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Iniciar Sesion</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="image-container">
    <img [src]="imageUrl" alt="Mi Imagen" class="centered-image">
  </div>

  <ion-textarea
  fill="solid"
  label="Ingrese su correo"
  labelPlacement="floating"
  helperText="Email correcto"
  errorText="Email invalido"
  ngModel
  email
></ion-textarea>

<ion-textarea
fill="solid"
label="Ingrese su contraseña"
labelPlacement="floating"
helperText="Debe tener al menos 8 caracteres"
errorText="Contraseña demasiado corta"
[(ngModel)]="contrasena"
class="custom-labelogeo"
></ion-textarea>

  <div class="button-container">
    <ion-button (click)="presentLoading()">Iniciar sesión</ion-button>
  </div>

</ion-content>